*.pyc
bin/push
conf/cache
generated
hs_err_*.log
missfont.log
output
src/graphics/2016/debian-logo.png
src/graphics/2017/oss-summit
src/pages/recommended-reading.md
src/talks/**/*.jpg
src/talks/**/*.png
src/talks/**/index.html
src/talks/**/make.sh
src/talks/brain-sharing
src/talks/charset-and-encoding/different-encodings.svg
src/talks/css/fonts/*.woff
src/talks/css/github.css
src/talks/escenic-theme/escenic-bg.svg
src/talks/escenic-theme/escenic-black.svg
src/talks/escenic-theme/fonts
src/talks/escenic-theme/github-gist.css
src/talks/escenic-theme/github.css
src/talks/escenic-theme/monokai_sublime.css
src/talks/escenic-theme/obsidian.css
src/talks/escenic-theme/solarized_dark.css
src/talks/every-day-emacs/blue.py
src/talks/every-day-emacs/fix.html
src/talks/every-day-emacs/red.py
src/talks/lib/
src/talks/push
src/talks/reveal.js
src/talks/um-oidc-and-scim-demo/cue-um-ad.blockdiag
src/talks/um-oidc-and-scim-demo/cue-um-ad.svg
src/talks/um-oidc-and-scim-demo/user-sync-ad-iam.blockdiag
src/talks/um-oidc-and-scim-demo/user-sync-ad-iam.svg
src/talks/um-oidc-and-scim-demo/user-sync-ece-um-iam.blockdiag
src/talks/um-oidc-and-scim-demo/user-sync-ece-um-iam.svg
src/travel/2016-linuxcon
src/unix/bash/declaring-variables.sh
src/unix/bash/scoping.sh
