body {
  font-family: "Century Gothic", "Trebuchet MS", Helvetica, Arial, Geneva, sans-serif;
}

section {
  height: 580px;
  background-image: url("conduct.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}

h1, h2, a {
  color: #424d90;
}

