@font-face {
  font-family: "helvetica-neue-bold-italic";
  font-style: italic;
  src: url("helveticaneuebolditalic.woff");
}

@font-face {
  font-family: "helvetica-neue-bold";
  font-weight: bold;
  font-style: normal;
  src: url("helveticaneuebold.woff");
}

@font-face {
  font-family: "helvetica-neue-condensed-black";
  font-style: normal;
  src: url("helveticaneuecondensedblack.woff");
}

@font-face {
  font-family: "helvetica-neue-condensed-bold";
  font-weight: bold;
  font-style: normal;
  src: url("helveticaneuecondensedbold.woff");
}

@font-face {
  font-family: "helvetica-neue-italic";
  font-style: italic;
  src: url("helveticaneueitalic.woff");
}

@font-face {
  font-family: "helvetica-neue-light-italic";
  font-style: italic;
  src: url("helveticaneuelightitalic.woff");
}

@font-face {
  font-family: "helvetica-neue-light";
  font-style: normal;
  src: url("helveticaneuelight.woff");
}

@font-face {
  font-family: "helvetica-neue-medium-italic";
  font-style: italic;
  src: url("helveticaneuemediumitalic.woff");
}

@font-face {
  font-family: "helvetica-neue-medium";
  font-style: normal;
  src: url("helveticaneuemedium.woff");
}

@font-face {
  font-family: "helvetica-neue-thin-italic";
  font-style: italic;
  src: url("helveticaneuethinitalic.woff");
}

@font-face {
  font-family: "helvetica-neue-thin";
  font-style: normal;
  src: url("helveticaneuethin.woff");
}

@font-face {
  font-family: "helvetica-neue-ultralight-italic";
  font-style: italic;
  src: url("helveticaneueultralightitalic.woff");
}

@font-face {
  font-family: "helvetica-neue-ultralight";
  font-style: normal;
  src: url("helveticaneueultralight.woff");
}

@font-face {
  font-family: "helvetica-neue";
  font-style: normal;
  src: url("helveticaneue.woff");
}
