{% extends "index.html" %}
{% block title %}Archives for {{ SITENAME }}{% endblock %}
{% include "breadcrumb.html" %}
{% block content %}
    <ul>
    {% for article in dates %}
      {% set this_year = article.date.strftime('%Y') %}
      {% set this_month = article.date.strftime('%B') %}
      {% set this_day = article.date.strftime('%d') %}
      <li>
        <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        (written {{ this_month }} {{ this_day }} {{ this_year }})
      </li>
    {% endfor %}
    </ul>
{% endblock %}
