{% extends "base.html" %}

{% block content %}
<div style="float: right; width: 100px;">
  <a href="{{ SITEURL }}">⌂</a> →
  {% if article.category %}
  <a href="{{ SITEURL }}/{{ article.category.url }}">
    {{ article.category }}
  </a>
  {% endif %}
  {% if article.tags %}
    :: 
    {% for tag in article.tags %}
    <span>
      #<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
    </span>
    {% endfor %}
  {% endif %}
  :: written {{ article.date.strftime('%Y-%m-%d') }}
</div>
<h1>{{ article.title }}</h1>
<div class="content">
  {{ article.content }}
</div>
{% endblock %}








