    <p>
      ✏ Write me on
      <a href="mailto:torstein.k.johansenATgmailDOTcom">
        torstein.k.johansen at gmail dot com
      </a>
      |
      follow me for
      <a href="http://twitter.com/torsteinkrausew">
        tech twitter:&nbsp;@torsteinkrausew
      </a>
      /
      <a href="http://twitter.com/torsteinkrause">
        personal twitter:&nbsp;@torsteinkrause
      </a>
    </p>
    <hr/>
    {% if article %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = 'skybertsworld';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <script type="text/javascript">
      var disqus_shortname = 'skybertsworld';
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>
    {% endif %}
    <script type="text/javascript">
      _uacct = "UA-8308161-1";
      urchinTracker();
    </script>
