    <div id="footer">
      <img src="http://mail.google.com/favicon.ico"
           class="favicon"
           alt="Tips en venn"
           />
      Write me on
      <a href="mailto:torstein.k.johansenATgmailDOTcom">
        torstein.k.johansen at gmail dot com
      </a>
      |
      <a href="http://twitter.com/torsteinkrause">
        <img src="http://twitter.com/favicon.ico"
             class="favicon"
             alt="twitter"/>
        my personal feed
      </a>
      /
      <a href="http://twitter.com/torsteinkrausew">
        my technical feed
      </a>
      |
      <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fskybert.net/&amp;t=The%20World%20of%20Skybert">
        <img src="http://www.facebook.com/favicon.ico"
             alt="Share this on Facebook"
             class="favicon"
             />&nbsp;Share this article on Facebook
      </a>
      |
      <img src="http://www.google.com/favicon.ico"
           class="favicon"
           alt="Google"/>
      <form method="get"
            style="display: inline"
            action="http://www.google.com/search">
        <div style="display:inline">
          <input type="text"
                 name="q"
                 size="30"
                 value="Search skybert.net using Google" />
          <input  name="sitesearch"
                  value="skybert.net"
                  type="hidden"/>
        </div>
      </form>
    </div>
    <script type="text/javascript">
      _uacct = "UA-8308161-1";
      urchinTracker();
    </script>
