{% extends "base.html" %}
{% block title %}
    <h1>Welcome to {{ SITENAME }}</h1>
{% endblock %}

{% block content %}
     <div style="padding: 0.3em;" >
       <img class="centered" src="/graphics/2015/rondane-banner.jpg" alt="rondane"/>
     </div>
     <span style="float: left">
       Among other things, I've written articles about:
     </span>
     <ul style="display: inline">
       {% for tag in tag_cloud %}
       <li style="display: inline;" class="tag-{{ tag.1 }}">
         <a href="/tag/{{ tag.0 }}.html">{{ tag.0 }}</a>
       </li>
       {% endfor %}
     </ul>
     <div style="text-align:right;">
       I hope you will find this site useful,
       –Skybert
{% endblock %}

