{% extends "base.html" %}
{% block title %}
    <h1>{{ SITENAME }}</h1>
    <hr/>
{% endblock %}

{% block content %}
     <div style="margin-top: 1.5em;" >
       <img src="/graphics/2015/rondane-banner.jpg"
            class="centered"
            alt="rondane"/>
     </div>
     <div style="margin-top: 1.5em; margin-bottom: 2em;">
       <p>
         Hi there, check out my latest articles:
         {% for a in articles[:10] | sort(reverse=True,
         attribute='date') %}
         <a href="{{ a.url }}">{{ a.title }}</a> ({{ a.category }}) ~
         {% endfor %}
       </p>
       <p>
         Or browse the different sections of my website by following
         the links below.
       </p>
       <p>Enjoy!</p>
       <span style="font-style: italic; text-align: right">
         —Skybert
       </span>
     </div>
{% endblock %}
