    <div style="text-align: center;">
      <hr/>
      <ul style="display: inline;">
        <li style="display: inline;">~ <a href="{{SITEURL}}">/home</a> ~</li>
        {% for cat, art in categories %}
        <li style="display: inline;">
          <a href="{{ SITEURL }}/category/{{ cat | replace(" ", "-") }}.html">
            /{{ cat }}
          </a>
          ~
        </li>
        {% endfor %}
      </ul>
      <hr/>
      <ul style="display: inline;">
        <li style="display: inline;">tags:</li>
        {% for tag, art in tags %}
        <li style="display: inline;">
          <a href="{{SITEURL}}/tag/{{tag | replace(" ", "-") }}.html">
            {{tag}}
          </a>
          ({{art | count}})
        </li>
        {% endfor %}
      </ul>
      <hr/>
    </div>

