      <div id="menu">
        <hr/>
        ~ ⌂ <a href="{{SITEURL}}">/home</a> ~
        ❗ <a href="{{SITEURL}}/talks">talks</a> ~
        {% for cat, art in categories %}
          <a href="{{ SITEURL }}/category/{{ cat | replace(" ", "-") }}.html">
            {{ cat }}
          </a>
          ~
        {% endfor %}
        {% for page in pages %}
            <a href="{{ SITEURL }}/{{ page.url }}">
              {{ page.title | lower }}
            </a>
            ~
        {% endfor %}
      </div>


